set visualbell
set noerrorbells

sethandler n:vim i:ide

set scrolloff=8
set sidescrolloff=8
set ideajoin

let mapleader=" "

nnoremap gl :action ShowErrorDescription<CR>

nmap <S-l> :action NextTab<CR>
nmap <S-h> :action PreviousTab<CR>

nmap <leader-w> :w<CR>

set incsearch
set hlsearch

set NERDTree
let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='h'

nnoremap <leader-h> :noh<CR>
